<!doctype html>
<html lang="zh-TW">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>關於寫react 那二三事 :: 2024 iThome 鐵人賽</title>
  <meta name="description" content="關於從react class  轉到使用react hook  以及中文圈不太流行的PrimeReact ">
  <meta name="keywords" content="iT邦幫忙,iThome">
  <meta name="author" content="iThome">
  <meta property="og:site_name" content="iT 邦幫忙::一起幫忙解決難題，拯救 IT 人的一天">
  <meta property="og:url" content="https://ithelp.ithome.com.tw/users/20168266/ironman/7079">
  <meta property="og:type" content="website">
  <meta property="og:title" content="關於寫react 那二三事 :: 2024 iThome 鐵人賽">
  <meta property="og:image" content="https://ithelp.ithome.com.tw/images/ironman/16th/fb.jpg">
  <meta property="og:description" content="關於從react class  轉到使用react hook  以及中文圈不太流行的PrimeReact ">
  <meta property="fb:app_id" content="137875859607921">
  <link rel="apple-touch-icon" sizes="57x57" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://ithelp.ithome.com.tw/storage/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="https://ithelp.ithome.com.tw/storage/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="https://ithelp.ithome.com.tw/storage/favicons/manifest.json">
  <link rel="mask-icon" href="https://ithelp.ithome.com.tw/storage/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="https://ithelp.ithome.com.tw/storage/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/bootstrap.min.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/sweetalert.css">
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/lib/select2/css/select2.min.css">
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/google.css">
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/style.css?202008271142"> <!-- highlight -->
  <link rel="stylesheet" href="https://ithelp.ithome.com.tw/css/railscasts.css"> <!-- end --> <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries --> <!-- WARNING: Respond.js doesn't work if you view the page via file:// --> <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]--> <!--messenger css-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6182VBHV8Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6182VBHV8Y');
</script>
 </head>
 <body>
  <div class="header">
   <div class="a970" align="center">
    <script src="https://itadapi.ithome.com.tw/media/serve?type=B5&amp;channel=ithome_index&amp;encoding=Utf8"></script>
   </div>
   <div class="header__inner clearfix">
    <h1 class="header__logo pull-left"><a href="/"><img src="https://ithelp.ithome.com.tw/storage/image/logo.svg" alt="iT邦幫忙" class="img-responsive"></a></h1>
    <div class="header__promote">
     <div class="a12word pull-right">
      <div class="a12word__box">
       <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T2&amp;channel=ithome_forum&amp;encoding=Utf8"> </script>
      </div>
      <div class="a12word__box">
       <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T3&amp;channel=ithome_forum&amp;encoding=Utf8"> </script>
      </div>
      <div class="a12word__box">
       <script type="text/javascript" src="https://itadapi.ithome.com.tw/media/serve?type=T4&amp;channel=ithome_forum&amp;encoding=Utf8"> </script>
      </div>
     </div>
     <div class="a970 pull-right">
      <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&amp;channel=ithome_forum&amp;encoding=Utf8"></script>
     </div>
    </div>
   </div>
   <nav class="menu">
    <div class="menu__bg">
     <div class="menu__container clearfix">
      <h1 class="menu__logo"><a href="/" class="menu__logo-link"><img src="https://ithelp.ithome.com.tw/storage/image/nav_logo.svg" alt="iT邦幫忙"></a></h1>
      <ul class="list-unstyled menu__left">
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/questions" class="menu__item-link  menu__item-link--pl">技術問答</a></li>
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/articles?tab=tech" class="menu__item-link ">技術文章</a></li>
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/articles?tab=job" class="menu__item-link  hidden-xs">iT 徵才</a></li>
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/tags" class="menu__item-link  hidden-xs">Tag</a></li>
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/talks" class="menu__item-link  hidden-xs">聊天室</a></li>
       <li class="menu__item menu__item--ironman"><a href="/2024ironman/" target="_blank" class="menu__item-link hidden-xs">2024 鐵人賽</a></li>
      </ul>
      <ul class="list-unstyled menu__right">
       <li class="menu__item">
        <div id="searchDropdown" class="menu__search-btn"><span class="menu__search-toggle"></span>
        </div></li>
       <li class="menu__item"><a href="https://ithelp.ithome.com.tw/users/login" class="menu__item-link">登入/註冊</a></li>
      </ul>
     </div>
    </div>
    <div class="menu__dropform">
     <div class="menu__container">
      <form action="https://ithelp.ithome.com.tw/search" role="search" method="GET" class="clearfix"><input type="hidden" name="_token" value="dlF33MBPnehd2j5A0MOKEWs5QpTbMwLJMsNeF5wl">
       <div class="pull-left"><input name="search" type="text" class="menu__search-input" placeholder="搜尋主題、問題或人"> <input type="radio" class="radio-input" name="tab" value="question" id="searchQA" checked> <label for="searchQA" class="radio-label">問答</label> <input type="radio" class="radio-input" name="tab" value="article" id="searchArticle"> <label for="searchArticle" class="radio-label">文章</label> <input type="radio" class="radio-input" name="tab" value="tag" id="searchTag"> <label for="searchTag" class="radio-label">Tag</label> <input type="radio" class="radio-input" name="tab" value="user" id="searchID"> <label for="searchID" class="radio-label">邦友</label> <input type="radio" class="radio-input" name="tab" value="ironman" id="searchIronman"> <label for="searchIronman" class="radio-label">鐵人賽</label>
       </div> <button type="submit" class="btn menu__dropform-btn">搜尋</button>
      </form>
     </div>
    </div>
   </nav>
   <div class="menu__mask"></div>
  </div>
  <div class="container index-top">
   <div class="row">
    <div class="col-md-12">
     <div class="board">
      <div class="profile-header clearfix">
       <div class="profile-header__avatar"><img src="https://member.ithome.com.tw/avatars/197388?s=ithelp" class="profile-header__avatar-img">
       </div>
       <div class="profile-header__content">
        <div class="profile-header__name">
         ellelee <span class="profile-header__account">(ellelee)</span>
        </div>
        <div class="profile-header__text">
         iT邦見習生 ‧ 點數 <a href="https://ithelp.ithome.com.tw/users/20168266/points"> 20 </a>
        </div>
        <div class="profile-header__text">
        </div>
       </div>
       <div class="profile-header__right">
        <div class="profile-header__statistic">
         <div class="profile-header__view">
          <div>
           <span class="profile-header__view-num">143</span>
          </div>
          <div class="profile-header__view-text">
           累計瀏覽數
          </div>
         </div>
         <div class="profile-header__follow"><a href="https://ithelp.ithome.com.tw/users/20168266/traced" class="profile-header__follow-link">
           <div>
            <span class="profile-header__follow-num">0</span>人
           </div>
           <div class="profile-header__follow-text">
            在追蹤
           </div> </a>
         </div>
        </div>
        <div class="pull-right">
         <div class="profile-header__btngroup"><a href="https://ithelp.ithome.com.tw/messages/getGroup/20168266" class="btn btn-border-main profile-header__btn--left"> <i class="fa fa-envelope-o fa-fw profile-side__icon"></i>站內簡訊 </a> <a href="https://ithelp.ithome.com.tw/users/login" class="btn btn-trace"> <i class="fa fa-heart-o fa-fw fa--spacing"></i>追蹤 </a>
         </div>
        </div>
       </div>
      </div>
      <div class="profile-nav">
       <ul class="list-inline profile-nav__list">
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/profile" class="profile-nav__link"> <span class="profile-nav__icon"><i class="fa fa-newspaper-o fa-fw"></i></span> 個人背景 </a></li>
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/questions" class="profile-nav__link"> <span class="profile-nav__num">0</span>發問 </a></li>
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/articles" class="profile-nav__link"> <span class="profile-nav__num">4</span>文章 </a></li>
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/answers" class="profile-nav__link"> <span class="profile-nav__num">0</span>回答 </a></li>
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/invited" class="profile-nav__link"> <span class="profile-nav__num">0</span>邀請回答 </a></li>
        <li class="profile-nav__item"><a href="https://ithelp.ithome.com.tw/users/20168266/best_answers" class="profile-nav__link"> <span class="profile-nav__num">0</span>最佳解答 </a></li>
        <li class="profile-nav__item profile-nav__item--pad">
         <div class="dropdown"><a id="profile-nav" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="profile-nav__link"> <span class="profile-nav__icon"><i class="fa fa-ellipsis-h fa-fw" aria-hidden="true"></i></span>其他 </a>
          <ul class="dropdown-menu profile-nav__dropdown-menu" aria-labelledby="profile-nav">
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/ironman" class="profile-side__text">鐵人檔案</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/collections/questions" class="profile-side__text">收藏的問題</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/collections/articles" class="profile-side__text">收藏的文章</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/questions" class="profile-side__text">追蹤的問題</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/articles" class="profile-side__text">追蹤的文章</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/tags" class="profile-side__text">追蹤的tag</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/users" class="profile-side__text">追蹤的邦友</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/questions" class="profile-side__text">Like的發問</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/answers" class="profile-side__text">Like的回答</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/articles" class="profile-side__text">Like的文章</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/responses" class="profile-side__text">Like的留言</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/questions" class="profile-side__text">問答討論</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/answers" class="profile-side__text">問答回應</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/responses" class="profile-side__text">文章留言</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/responses" class="profile-side__text">文章回應</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/talks" class="profile-side__text">聊天室</a></li>
           <li><a href="https://ithelp.ithome.com.tw/users/20168266/collections/ironman" class="profile-side__text">訂閱列表</a></li>
          </ul>
         </div></li>
       </ul>
      </div>
     </div>
     <div class="board leftside profile-main">
      <h2 class="ir-profile-header"><img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">鐵人檔案</h2>
      <div class="ir-profile-content">
       <div class="ir-profile-years clearfix">
        <div class="ir-profile-years__title">
         2024 iThome 鐵人賽
        </div> <a href="https://ithelp.ithome.com.tw/users/20168266/ironman" class="ir-profile-back">回列表</a>
       </div>
       <div class="ir-profile-series "><a href="https://ithelp.ithome.com.tw/2024ironman/modern-web" class="group__badge group__badge--modern-web ir-profile-list__badge"> Modern Web </a>
        <h3 class="qa-list__title qa-list__title--ironman">關於寫react 那二三事<span> 系列</span></h3>
        <p class="qa-list__description">關於從react class 轉到使用react hook 以及中文圈不太流行的PrimeReact</p>
        <div class="text-right">
         <button id="read_more" class="btn btn-qa-list-open">展開 <i class="arrow-down-i fa fa-angle-down fa-3x" aria-hidden="true"></i> </button><button id="read_less" class="btn btn-secondary btn-qa-list-close" style="display: none;">收起 <i class="arrow-down-i fa fa-angle-up fa-3x" aria-hidden="true"></i> </button>
        </div>
        <div class="qa-list__info qa-list__info--ironman subscription-group"><span> 參賽天數 4 天 ｜ </span> <span>共 4 篇文章 ｜</span> <span class="subscription-amount">0</span> 人訂閱 <a href="https://ithelp.ithome.com.tw/users/login" class="ir-profile-subscription subscription-btn"> <i class="fa fa-bookmark-o fa-fw" aria-hidden="true"></i>訂閱系列文 </a> <a href="https://ithelp.ithome.com.tw/rss/series/7079" class="btn-rss btn-no-border" target="_blank"> <i class="fa fa-rss fa-fw" aria-hidden="true"></i>RSS系列文 </a>
        </div>
       </div> <!-- articles -->
       <div class="qa-list profile-list ir-profile-list">
        <div class="profile-list__condition"><a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">Like</span></a> <a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">留言</span> </a> <a class="qa-condition   qa-condition--change "> <span class="qa-condition__count">114</span> <span class="qa-condition__text">瀏覽</span> </a>
        </div>
        <div class="profile-list__content">
         <div class="ir-qa-list__status"><span class="ir-qa-list__days ir-qa-list__days--profile ">DAY 1 </span>
         </div>
         <h3 class="qa-list__title"><a href="
                                                https://ithelp.ithome.com.tw/articles/10343136
                                                        " class="qa-list__title-link"> Day1 前言 </a></h3>
         <p class="qa-list__desc">因工作需要，從大學帶著java基底畢業開始學習actionscript，再到flash被廢掉開始將產品轉化JQuery，再到nodej興起把公司產品轉成 Rea...</p>
         <div class="qa-list__info"><a title="2024-08-01 13:45:23" class="qa-list__info-time">2024-08-01</a> ‧ 由 <a href="https://ithelp.ithome.com.tw/users/20168266/profile" class="qa-list__info-link">ellelee </a> 分享
         </div>
        </div>
       </div>
       <div class="qa-list profile-list ir-profile-list">
        <div class="profile-list__condition"><a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">Like</span></a> <a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">留言</span> </a> <a class="qa-condition   qa-condition--change "> <span class="qa-condition__count">90</span> <span class="qa-condition__text">瀏覽</span> </a>
        </div>
        <div class="profile-list__content">
         <div class="ir-qa-list__status"><span class="ir-qa-list__days ir-qa-list__days--profile ">DAY 2 </span>
         </div>
         <h3 class="qa-list__title"><a href="
                                                https://ithelp.ithome.com.tw/articles/10343250
                                                        " class="qa-list__title-link"> Day2 就來說說prime系列UI吧 </a></h3>
         <p class="qa-list__desc">Prime系列包括: PrimeFaces是專為JavaServer Faces (JSF)設計的開源UI組件庫。 PrimeNG是專為Angular框架設計...</p>
         <div class="qa-list__info"><a title="2024-08-02 00:19:45" class="qa-list__info-time">2024-08-02</a> ‧ 由 <a href="https://ithelp.ithome.com.tw/users/20168266/profile" class="qa-list__info-link">ellelee </a> 分享
         </div>
        </div>
       </div>
       <div class="qa-list profile-list ir-profile-list">
        <div class="profile-list__condition"><a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">Like</span></a> <a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">留言</span> </a> <a class="qa-condition   qa-condition--change "> <span class="qa-condition__count">69</span> <span class="qa-condition__text">瀏覽</span> </a>
        </div>
        <div class="profile-list__content">
         <div class="ir-qa-list__status"><span class="ir-qa-list__days ir-qa-list__days--profile ">DAY 3 </span>
         </div>
         <h3 class="qa-list__title"><a href="
                                                https://ithelp.ithome.com.tw/articles/10343287
                                                        " class="qa-list__title-link"> Day3 安裝primereact前要先有個專案 </a></h3>
         <p class="qa-list__desc">因為工作環境的限制，公司node版本維持在16，原本期望使用Next建立專案順便再多學一點，發現令人覺得蛋疼的事，Next最低居然是14(node 18)，好的...</p>
         <div class="qa-list__info"><a title="2024-08-03 02:30:18" class="qa-list__info-time">2024-08-03</a> ‧ 由 <a href="https://ithelp.ithome.com.tw/users/20168266/profile" class="qa-list__info-link">ellelee </a> 分享
         </div>
        </div>
       </div>
       <div class="qa-list profile-list ir-profile-list">
        <div class="profile-list__condition"><a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">Like</span></a> <a class="qa-condition "> <span class="qa-condition__count">0</span> <span class="qa-condition__text">留言</span> </a> <a class="qa-condition   qa-condition--change "> <span class="qa-condition__count">6</span> <span class="qa-condition__text">瀏覽</span> </a>
        </div>
        <div class="profile-list__content">
         <div class="ir-qa-list__status"><span class="ir-qa-list__days ir-qa-list__days--profile ">DAY 4 </span>
         </div>
         <h3 class="qa-list__title"><a href="
                                                https://ithelp.ithome.com.tw/articles/10343430
                                                        " class="qa-list__title-link"> Day4 primereact 的Button </a></h3>
         <p class="qa-list__desc">打開vscode後，就順順建了Buttons.tsx打上 import React from 'react'; import { Button } from '...</p>
         <div class="qa-list__info"><a title="2024-08-04 10:39:03" class="qa-list__info-time">2024-08-04</a> ‧ 由 <a href="https://ithelp.ithome.com.tw/users/20168266/profile" class="qa-list__info-link">ellelee </a> 分享
         </div>
        </div>
       </div>
      </div>
      <div class="profile-pagination">
      </div>
     </div>
     <div class="rightside profile-side">
      <div class="board profile-side__box profile-side__box--ironman">
       <div class="profile-side__title"><a href="https://ithelp.ithome.com.tw/users/20168266/ironman"><img src="https://ithelp.ithome.com.tw/storage/image/fight.svg" alt="" class="">ellelee的鐵人檔案</a>
       </div>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title"><i class="fa fa-star-o fa-fw profile-side__icon"></i>ellelee的收藏 <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
       </div>
       <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/collections/questions" class="profile-side__text">收藏的問題</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/collections/articles" class="profile-side__text">收藏的文章</a></li>
       </ul>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title"><i class="fa fa-heart-o fa-fw profile-side__icon"></i>ellelee的追蹤 <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
       </div>
       <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/questions" class="profile-side__text">追蹤的問題</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/articles" class="profile-side__text">追蹤的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/tags" class="profile-side__text">追蹤的tag</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/traces/users" class="profile-side__text">追蹤的邦友</a></li>
       </ul>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title"><i class="fa fa-thumbs-o-up fa-fw profile-side__icon"></i>ellelee的Like <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
       </div>
       <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/questions" class="profile-side__text">Like的發問</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/answers" class="profile-side__text">Like的回答</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/articles" class="profile-side__text">Like的文章</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/likes/responses" class="profile-side__text">Like的留言</a></li>
       </ul>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title"><i class="fa fa-file-text-o fa-fw profile-side__icon"></i>ellelee的紀錄 <span class="profile-side__down"><i class="fa fa-angle-down fa-fw"></i></span>
       </div>
       <ul class="profile-side__list">
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/questions" class="profile-side__text">問答討論</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/answers" class="profile-side__text">問答回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/responses" class="profile-side__text">文章留言</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/comments/responses" class="profile-side__text">文章回應</a></li>
        <li><a href="https://ithelp.ithome.com.tw/users/20168266/talks" class="profile-side__text">聊天室</a></li>
       </ul>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title"><a href="https://ithelp.ithome.com.tw/users/20168266/collections/ironman"><i class="fa fa-bookmark-o fa-fw profile-side__icon" aria-hidden="true"></i>ellelee的訂閱列表</a>
       </div>
      </div>
      <div class="board profile-side__box">
       <div class="profile-side__title profile-side__title--blockade"><button class="blacklist_btn" data-id="20168266" data-nickname="ellelee"> <i class="fa fa-user-times fa-fw profile-side__icon"></i> <span> 封鎖 ellelee </span> </button>
       </div>
      </div>
      <div class="profile-side__ad">
       <script src="https://itadapi.ithome.com.tw/media/serve?type=B3&amp;channel=ithome_forum&amp;encoding=Utf8"></script>
      </div>
     </div>
    </div>
   </div>
  </div>
  <footer class="footer">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="a970">
       <script src="https://itadapi.ithome.com.tw/media/serve?type=B1&amp;channel=ithome_forum&amp;encoding=Utf8"></script>
      </div>
      <ul class="list-inline footer__menu">
       <li class="footer__item">電週文化事業版權所有、轉載必究 | Copyright © <a href="https://www.ithome.com.tw/" target="_blank" class="footer__link">iThome</a></li>
       <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">刊登廣告</a></li>
       <li><a href="https://www.ithome.com.tw/aboutus/" target="_blank" class="footer__link">授權服務</a></li>
       <li><a href="mailto:ithelp@mail.ithome.com.tw" class="footer__link">服務信箱</a></li>
       <li><a href="https://www.ithome.com.tw/terms" target="_blank" class="footer__link">隱私權聲明與會員使用條款</a></li>
       <li><a href="https://ithelp.ithome.com.tw/guide" class="footer__link">iT邦幫忙使用說明</a></li>
      </ul>
     </div>
    </div>
   </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script src="https://ithelp.ithome.com.tw/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.4.2/js/messenger.min.js"></script>
  <script>
    Messenger.options = {
        extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-left',
        theme: 'block'
    };

    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");

        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }

    window.Notification.TOKEN = getCookie("_token");
</script>
  <script>
    $(function(){
        $.ajaxPrefilter(function(options, originalOptions, jqXHR){
            if (options.type.toLowerCase() !== "get" && !options.beforeSend) {
                options.beforeSend = function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', 'dlF33MBPnehd2j5A0MOKEWs5QpTbMwLJMsNeF5wl');
                }
            }
        });
    });
</script>
  <script src="https://ithelp.ithome.com.tw/js/lib/vue.min.js"></script>
  <script src="https://ithelp.ithome.com.tw/js/lib/sweetalert.min.js"></script>
  <script src="https://ithelp.ithome.com.tw/js/event.js?20180530"></script>
  <script src="https://ithelp.ithome.com.tw/lib/select2/js/select2.full.min.js"></script>
  <script src="https://ithelp.ithome.com.tw/js/ImgPreview.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var self = this;
    const itPlusVideo = new Vue({
        el: '#it_plus_video',
        data: {
            items: [],
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/sidebar')
                        .then(response => {
                            this.items = response.data.data;
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
//                const cacheKey = 'cachedData';
//                const cachedDataString = localStorage.getItem(cacheKey);
//                const cachedData = JSON.parse(cachedDataString);
//
//                // 檢查緩存數據是否存在並且未過期
//                if (cachedData && Date.now() - cachedData.timestamp < 5 * 60 * 1000) {
//                    // 使用緩存數據
//                    this.items = cachedData.data;
//                } else {
//                    // 獲取最新數據
//                    axios.get('/api/itplus/sidebar')
//                            .then(response => {
//                                console.log(response.data.cache);
//                                this.items = response.data.data;
//
//                                // 將獲取到的數據存儲在本地存儲中
//                                const newData = { data: response.data.data, timestamp: Date.now() };
//                                localStorage.setItem(cacheKey, JSON.stringify(newData));
//                            })
//                            .catch(error => {
//                                console.error("error!", error);
//                            });
//                }
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    var self = this;
    const itplusPopulaRecommendationsContent = new Vue({
        el: '#itplusPopulaRecommendationsContent',
        data: {
            items: []
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get('/api/itplus/bottom')
                        .then(response => {
                            this.items = response.data.data;
                            console.log(response.data.data);
                        })
                        .catch(error => {
                            console.error("error!", error);
                        });
            },
            formatDate(time) {
                const parts = time.split(':');	//	移除":"符號
                const hours = parseInt(parts[0]);
                const minutes = parseInt(parts[1]);

                const totalMinutes = hours * 60 + minutes;

                return totalMinutes + " 分";
            },
        }
    });
</script>
  <div class="modal fade" id="AtUser" tabindex="-1">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      <h4 class="modal-title text-center">標記使用者</h4>
     </div>
     <div class="modal-body">
      <div class="form-group"><label for="invite_person" class="control-label">輸入對方的帳號或暱稱</label> <input type="text" class="form-control modal-input" id="invite_person" v-model="result_text" debounce="500">
       <div id="editor_tagged_ids"></div>
      </div>
      <ul class="list-unstyled invitation">
       <li style="text-align: center">
        <template v-if="!!result_text &amp;&amp; !result_list.length &amp;&amp; is_loading">
         Loading
        </template>
        <template v-if="!!result_text &amp;&amp; !result_list.length &amp;&amp; !is_loading">
         找不到結果。
        </template></li>
       <li class="invitation-list" v-for="result in result_list"><img v-if="result &amp;&amp; result.center_id" :src="'https://member.ithome.com.tw/avatars/' + result.center_id + '?s=ithelp'" style="float: left; margin-left: 10px; width: 48px; height: 48px;">
        <div class="invitation-list__content clearfix"><a class="btn btn-main invitation-list__btn" @click="AtUserByID(result.label, result.id)">標記</a>
         <div>
          <a href="#" class="invitation-list__name">{{ result.label }}</a>
         </div>
         <div>
          <a href="#" class="invitation-list__account">{{ result.account }}</a>
         </div>
        </div></li>
      </ul>
     </div>
     <div class="modal-footer"><a type="button" class="btn btn-main" data-dismiss="modal">關閉</a>
     </div>
    </div>
   </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" integrity="sha512-D9gUyxqja7hBtkWpPWGt9wfbfaMGVt9gnyCvYa+jojwwPHLCzUm5i8rpk7vD7wNee9bA35eYIjobYPaQuKS1MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>hljs.highlightAll()</script>
 </body>
</html>